.Calendar {
  width: 51.7rem;
  height: 41.1rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.4fr repeat(6, 1fr);

  gap: 0.1rem;

  border: lightgrey 0.1rem solid;
  border-radius: 1rem;

  background-color: lightgrey;

  margin-top: 1rem;
  margin-left: 15rem;

  &__cell {
    display: flex;
    justify-content: right;

    border: lightgrey 0.1rem solid;
    border-radius: 1rem;

    background-color: white;

    padding-top: 0.25rem;
    padding-right: 0.25rem;
  }

  &__weekDay{
    border: lightgrey 0.1rem solid;
    border-radius: 1rem;

    background-color: white;

    font-size: 2rem;
    text-align: center;
  }
}

.Button {
  margin-top: 2rem;
  margin-left: 15rem;
}
